<div class="row no-gutters">
    <div class="home text-center col-xs-12 col-md-6" (click)="goToOfferBike()">
        <img src="assets/img/give1.jpg">
        <h2>Offer a Bike</h2>
        <p>Offer a bike for rent when its idle and earn money!</p>
    </div>
    <!-- <div class="col-md-2">
        <img src="assets/img/bike4.jpg">
    </div> -->
    <div class="home text-center col-xs-12 col-md-6" (click)="goToRentBike()">
        <h2>Rent a Bike</h2>
        <p>Choose a bike for rent when you just need it!</p>
        <img src="assets/img/rent1.jpg">
    </div>
</div>